[submodule "interactive-rebase"]
	path = interactive-rebase
	url = https://github.com/Git-Demistyfied/interactive-rebase.git
[submodule "bisect"]
	path = bisect
	url = https://github.com/Git-Demistyfied/bisect.git
